{% extends 'base.html' %}
  {% block content %}
        <p class="text-center text mb-3">
          Edit this url
        </p>
        <div class="form-section col-md-8 mx-auto">
          <div class="card">
            <form action="" method="POST">
              <div class="form-group">
                <input
                  type="url"
                  class="form-control"
                  placeholder="http(s)://www.google.com"
                  name="url"
                  value="https://www.google.com"
                  required
                />
              </div>
              <div class="form-group">
                <a href="./index.html" class="btn btn-primary manage-btn"
                  ><< Back</a
                >
                <button type="submit" class="btn btn-secondary float-right">
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
  {% endblock %}