p {
    margin: 0;
}

.display-6 {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
}

.main {
    position: relative;
    background: #1f1a1a;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100vh;
    padding-top: 2rem;
    transition: all 300ms ease;
}

.main h3 {
    color: #f3f3f3;
}

.main .text {
    color: #ccc;
}

.form-section .card {
    margin-top: 0;
    padding: 1.5rem 1.5rem 0.8rem;
    background: #75736742;
    box-shadow: 0px 0px 0.3rem #999595;
}

.result-section .card {
    transition: all 300ms;
}

.footer-section {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

.switch svg {
    width: 50px;
    height: 50px;
}

.switch svg {
    fill: #fedb41;
}

.switch.off svg {
    fill: black;
}

.main.light {
    background: #fff;
    color: #000;
}

.main.light h3 {
    color: #212226;
}

.main.light .text {
    color: #aaa;
}

.main.light .form-section .card {
    background: #fff;
    box-shadow: 0 0 0.1rem #4e4d4d;
}

.main.light .result-section .card {
    background: #212226;
}
