{% extends 'base.html' %}
  {% block content %}
    <div class="result-section col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="result card p-2">
            <div class="card-header">
              <a href="{{page.page_url}}">{{ page.page_url }}</a>
              <a
                href="edit.html?id=1"
                class="float-right btn btn-sm btn-info px-3"
                >Edit</a
              >
            </div>
            <div class="card-body manage">
              <p>{{ page.rank }}</p>
              <p>
                <a href="" class="btn btn-primary">Get Traffic</a>
                <span>320</span>
              </p>
              <p>
                <a href="" class="btn btn-primary">Get Signup Count</a>
                <span>2</span>
              </p>
            </div>

            <div class="btns">
              <a href="{% url 'index' %}" class="btn btn-primary manage-btn"
                ><< Back</a
              >
              <a href="" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}